{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
        <script src="{% static 'js\bootstrap.min.js.map' %}"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{% static 'css\bootstrap.min.css.map' %}" />

        <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/font-awesome.css' %}" rel='stylesheet' type='text/css'>
      
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- main css -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'responsive.css' %}" rel="stylesheet">
    
    <!-- Slider -->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.transitions.css' %}" rel="stylesheet"> 
      
    <!-- lightbox -->
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">

        <title>{% block title %} Electronics Commerce {% endblock %}</title> 
        <style type="text/css">.min-h-100 { min-height: 100%; } </style>
    </head>
    <body>

        <div id="wrapper" class="homepage-1"> <!-- wrapper -->
            <div id="header"> <!-- header -->
                <div class="top"> <!-- top -->
                    <div class="container">
                        <ul class="top-support"> 
                            <li><i class="fa fa-phone-square"></i><span>(+800) 123 456 7890</span></li>
                            <li><a href=""><i class="fa fa-envelope-square"></i><span>info@bootstrapmart.com</span></a></li>
                        </ul>
                        <div class="top-offers">
                            <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                                Free Shipping <a href="">on All Orders Over</a> $75!
                            </div>
                        </div>
                        <div class="top-control">
                            <a href="">Track Order</a><span>•</span><a href="">Register</a><span>•</span><a href="">Login</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="top-offers show-mobile">
                            <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                                Free Shipping <a href="">on All Orders Over</a> $75!
                            </div>
                        </div>
                    </div>
             </div> <!-- top -->

        <!-- <div class="row">
            <div id="header" class="bg-info col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">

                        <img src="https://img.favpng.com/23/7/24/logo-e-commerce-digital-marketing-brand-trade-png-favpng-xTcxcPuHCYQBUh9P8q30ETQji.jpg" alt="E-commerce Logo" style="height:50px; width:auto;" />
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <h2>{% block header %} Electronic Commerce {% endblock %}</h2>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        {% block Cart%}
                            {% endblock %}
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">

            <div id="sidebar" class="min-h-100 min-h-800 bg-light border col-sm-3 col-md-3 col-lg-3"> {% block sidebar %}
             <ul>

                <li><a href="/admin/"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></li>

                <li><a href="/"><i class="fa fa-search" aria-hidden="true"></i>Product</a></li>

                <li><a href="/cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>

             </ul>
                {% endblock %}
            </div>
            <div id="content" class="min-h-100 bg-light col-sm-9 col-md-9 col-lg-9"> 
                {% block content %}{% endblock %}
            </div>
        </div> -->
    </body>
</html>